<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/web-server/src/css/style1.css" />

  </head>

  <body>
      <h1>ERROR!</h1>
    <img src="/web-server/src/img/error.png" /><br />
    <h1>{{title}}</h1>

  </body>

</html>