h1 {
  text-align: center;
}

body {
  background-color: rgb(240, 240, 190);
}

form {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
p {
  text-align: center;
}
